
@{
    ViewData["Title"] = "About";
}





<div class="card">
    <div class="card-header">
        <h1>About this Project</h1>
    </div>
   
    <div class="card-body">
        <h5 class="card-title"></h5>
        
        <ul>
            <li>
                A movie search results page to search for movies by title using the omdbapi. Example http://www.omdbapi.com/?apikey=[yourkey]&s=Avengers.
            </li>
            <li>
                A movie details page displaying more details about a movie using the omdbapi. Example http://www.omdbapi.com/?apikey=[yourkey]&i=tt4154756
            </li>
            <li>
                Mark up the movie search results page with movie carousel structured data for the current displayed movies. Make sure the structured data is in JSON-LD format. More guidelines are here https://developers.google.com/search/docs/data-types/movie#summary
            </li>
            <li>
                Mark up the movie details page with movie structured data for the displayed movie details. Make sure the structured data is in JSON-LD format. More guidelines are here https://developers.google.com/search/docs/data-types/movie#movie
            </li>
        </ul>
         <span>
             <i>
                 Tool/Technologies used : Asp.net core
             </i>
         </span>
       
        
        

    </div>
    
</div>

