@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Search Movie</h1>
    <a class="nav-link text-dark" asp-area="" asp-controller="Movie" asp-action="Search">Click here to search any movie</a>
</div>
